body {
    background-image: url("beach-03.jpg");
    margin: 10px;
  
}

.container {
    
    width: max-content; 
    height: max-content;
   
}

.container-2 {
 position: relative;
 
}
.container-2 svg {
    display: block;
}

.container-2 .bi-download {
    position: absolute; top: 15px; left:48px;
    fill: red;
    border: solid white;
    border-radius: 25px;
    background-color: white;
    height: 20px;
    width: 20px;
}

.first-col {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
}



.second-col {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

.third-col {
   
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.sections {
    padding-top: 10px;
    column-gap: 30px;

}

.button-compose {
    border: none;
    border-radius: 12px;
    font-weight: bold;
    background-color: white;
    color: #494942;
    width: 200px;
    margin-left: 10px;
    margin-top: 20px;
}

.my-list-group-items {
    color: white;
    border: none;
    background-color: rgba(135, 181, 234, 0.003);
    
}

.my-active {
    border: none;
    font-weight: bold;
    background-color: rgba(135, 181, 234, 0.047);
    color: #eeeeee;
    
}

.my-rows {
    display: flex;
    flex-direction: row;
    row-gap: 30px;
   
}

.sub-rows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    border: solid white;
    background-color: white;
    opacity: 0.5;
    margin-top: 10px;
    
}

.far-left-col {
    display: flex;
    flex-direction: column;
    column-gap: 10px;

    background-color: rgba(135, 181, 234, 0.47);
    /* border: solid rgba(135, 181, 234, 0.661); */

}

.far-left-row {
    display: flex;
    flex-direction: column;
}

.far-right-col {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
   
   

}

.far-right-row {

    display: flex;
    flex-direction: column;
}


form.nosubmit {
    border: none;
    padding: 0;
    margin-top: 20px;
    
}

input.nosubmit {
    width: 260px;
    border: solid;
    border-radius: 12px;
    border-color: white;
    display: flex;
    padding: 9px 4px 9px 40px;
    opacity: 0.5;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.first-column {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: #494942;
    color: #eeeeee;
    opacity: 0.5;
    }

    .active-email {
        color:#494942;
        font-weight: bold;
        background-color: rgba(135, 181, 234, 0.334);
    }

    .drop-btn {
        padding: 2px;
        display: inline-block;
        width: 200px;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.419);
        border: none;
        margin-left: 20px;
        /* margin-top: 10px; */
    }

    .drop-btn-2 {
        padding: 2px;
        display: inline-block;
        width: 50px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.419);
        border: none;
       
        margin-top: 10px;
    }

    .my-icons {
        
        color: green;
        fill: green;    
    }

   

    p.btn-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }

    .my-caret {
        color:#494942;
        fill:#494942;
    }

    .my-img {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width: 30px;
        height: 30px; 
        margin-top: 40px;
        margin-left: 20px;
    }

    .my-png {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100px;
        height: 100px;
    }

    .my-png-row {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .top-icons {
        color: white;
        width: 25px;
        height: 25px; 
    }

    .top-icons-2 {
        margin-top: 30px;
    }

    .my-opaques {
        border: none;
        opacity: 1;
        
    }
    
   

   .my-list-group-row {
    background-color: #4949427f;
    color: white;
   }

   .my-list-group-row-2 {
    background-color: rgba(255, 255, 255, 0.551);
   }

   .text-box {
    background-color: rgba(255, 255, 255, 0.537);
    border: solid rgba(255, 255, 255, 0.537);
    border-radius: 12px;;
    height: 650px;
    width: 100%;
    margin-left: 10px;
    margin-top: 40px;
    
    }

    p.empty-page-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    p.empty-page-2 {
        display: flex;
        flex-direction: column;
        align-items:center; 
        margin-top: 50px;
        
    }

    p.empty-page-3 {
        display: flex;
        flex-direction: column;
        align-items:center; 
        margin-bottom: 5px;
        
    }
    .span {
        display: flex;
        flex-direction: row;
        align-items: stretch;
       
    }


    .items-align {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;

        gap: 10px;

        padding-left: 12px;
        padding-top: 15px;
       
           
    }

    p {
        font-size: small;
    }

    .time {
        
        font-size: small;
       
    }

    .my-align-right {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        
       
    }

    p.unread-emails {
        font-weight: bold;
    }

    .unread-emails {
        font-weight: bold;
       
    }

    .far-left-items-align {

        gap: 5px;
           
    }

    .spacer {
        
        margin-left: 15px;
        font-size: large;
    }

    .spacer-a {
        margin-left: 4px;
    }

    .spacer-b {
        margin-left: 9px;
    }

    .spacer-b-2 {
        margin-left: 9px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .spacer-b-3 {
        margin-left: 1px;
    }

    .spacer-2 {
        margin-left: 25px;
    }

    .spacer-3 {
        margin-left: 5px;
    }

    .spacer-4 {
        margin-left: 15px;
        font-size: large;
    }

    .spacer-5 {
        margin-right: 75px;
        font-size: larger;

    }

    .spacer-6 {
       
        margin-left: 30px;
    }

    .spacer-6-a {
        margin-top: 15px;
    }

    .spacer-7 {
        margin-left: 70px;
    }

    .spacer-8 {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        padding-left: 12px;
        padding-top: 15px;     
    }

    .spacer-9-a {
        margin-top: 200px;
        margin-left: 20px;
    }

    .spacer-9-b {
        margin-top: 30px;
        margin-left: 20px;
    }

    .selected {
        background-color: rgba(255, 255, 255, 0.306);
        border: none;
        border-radius: 25px;
        width: 200px;
        height: 40px;
    }

    .far-right-items-align {
       margin-right: 10px;
    }


    .float-left {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        margin-left: 5px;;
        margin-right: 50px;
    }

    .float-right {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        margin-right: 5px;
        margin-left: 50px;
    }

    .middle-text {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        color: black;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 5px;
        margin-top: 300px;
    }

    .yellow {
        color: yellow;
        fill: yellow;
    }

    .blue {
        color: blue;
        fill: blue;
    }


    .green {
        color: green;
        fill: green;
    }

    .orange {
        color: orange;
        fill: orange;
    }


    .red {
        color: red;
        fill: red;
    }


  