body {
    background-image: url("beach-02.jpg");
    margin: 20px;
  
}

.container {
    
    height: max-content;
}
.first-col {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
    
    
   /* border: solid black; */
}

.second-col {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

   /* border: dotted red; */
}

.third-col {
   
    display: flex;
    flex-direction: column;
    row-gap: 30px;

   /* border: solid blue;
   border-radius: 12px; */
}

.sections {
    padding-top: 10px;

}

.button-compose {
    border-radius: 12px;
    font-weight: bold;
    background-color: white;
    color: #494942;
    width: 200px;
}

.my-list-group-items {
    color: white;
    border: none;
    background-color: rgba(135, 181, 234, 0.003);
}

.my-active {
    border: none;
    font-weight: bold;
    background-color: rgba(135, 181, 234, 0.047);
    color: #eeeeee;
    
}

.my-rows {
    display: flex;
    flex-direction: row;
    row-gap: 30px;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    width: 260px;
    border: solid;
    border-radius: 12px;
    border-color: white;
    display: flex;
    padding: 9px 4px 9px 40px;
    opacity: 0.5;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.first-column {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: #494942;
    color: #eeeeee;
    opacity: 0.5;
    }

    .active-email {
        color:#494942;
        font-weight: bold;
        background-color: rgb(135, 181, 234);
    }

    .drop-btn {
        
        width: 200px;
        border-radius: 25px;
    }

    .my-icons {
        
        color: green;
        fill: green;    
    }

    .btns-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;

    }

    p.btn-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }

    .my-caret {
        color:#494942;
        fill:#494942;
    }

    .my-img {
   
        width: 50px;
        height: 25px; 
    }

    .image-box {
        border: solid grey;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
        height: 50px;
        width: 200px;
        padding: 4px 10px 4px 10px;
        box-shadow: 5px 5px grey;
    }

    .top-icons {
        color: white;
    }

    .my-opaques {
        border: none;
        opacity: 1;
        
    }
    
   /* .text-box {
    border:black;
    border-radius: 12px;
    height: 200px;

   } */

   .my-list-group-row {
    background-color: #49494230;
   }

   .my-list-group-row-2 {
    background-color: rgba(255, 255, 255, 0.605);
   }

   .text-box {
    background-color: rgba(255, 255, 255, 0.427);
    border: solid rgba(255, 255, 255, 0.427);
    border-radius: 12px;;
    height: 600px;
    width: 100%;
    margin-left: 10px;
    }

    p.empty-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    p.empty-page-2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items:center;
        padding-bottom: 0px;
    }